<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyQ"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <!-- 마지막으로 AndroidManifest.xml에 MessagingService를 등록하면 클라이언트 앱은 실시간 알림을 받을 준비가 끝납니다. -->
        <service
            android:name=".messaging.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.details.DetailsActivity"
            android:exported="false" /> <!-- 이제 AndroidManifest.xml에 ImageViewerActivity를 등록합니다. -->
        <!-- 앱바에 아이콘만 표시하기 위해 label을 빈 문자열로 설정했습니다. -->
        <activity
            android:name=".ui.image.ImageViewerActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.DailyQ.ImageViewer" /> <!-- 앱이 스플래시부터 시작하도록 AndroidMainfest.xml에서 LoginActivity의 인텐트 필터를 삭제하고 SplashActivity에 추가합니다. -->
        <!-- SplashActivity는 앱바를 사용하지 않습니다. -->
        <!-- 앱바를 사용하지 않는 Theme.DailyQ.NoActionBar 테마를 만들어 <activity> 의 theme 속성에 적용합니다. -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DailyQ.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity가 아니라 LoginActivity에서 앱을 시작하도록 수정합니다. -->
        <!-- [코드 6-9]에서 MainActivity의 인텐트 필터를 삭제하고 LoginActivity에 추가했습니다. -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" /> <!-- 소프트 키보드가 표시됐을 때 레이아웃의 크기를 조절하기 위해 windowSoftInputMode에 adjustResize를 사용했습니다. -->
        <activity
            android:name=".ui.write.WriteActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.base.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>